* {
  margin: 0
}

body {
  background-color: #f5f6fa;
  padding-left: 30px;
  padding-right: 30px;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media(max-width: 990px) {
  .App{
    flex-direction: column;
  }
}
.app__dropdown{
  background: white;
}
.app__titleHeader{
  color: red
}
.app__left{
  flex: 0.9
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right{
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph{
  flex-grow: 1;
}
.app__titleGraph{
  margin-bottom: 10px;
}